/*
CSS stylecheet for Wordpress Trianode website
Martin Qvarnström 2022
*/

/* body and main content style below */
body {
    margin-left: auto; /* to center website */
    margin-right: auto; /* to center website */
    width: 900px;
    font-family: 'Merriweather', serif;
    color: #0F3D3E;
}

article a {
  color: #0F3D3E;
  text-decoration: underline;
}

article a:hover {
  text-decoration: none;
}

#wrapper {
    height: 100%;
    padding: auto;
    background-color: #FFFFFF;
}

article li {
  margin-top: 25px;
}

section li {
  margin-top: 25px;
  margin-bottom: 25px;
}

main {
  float: left;
}

/* ul and li settings for horizontal menu and logo below */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E2DCC8;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  nav li {
    float: left;
    position: sticky;
    bottom: 0;
  }
  
  nav li a {
    display: block;
    color: #0F3D3E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav ul {
    position: sticky;
    bottom: 0;
  }

  li a article {
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffffff;
  }

  .logo {
    float: left;
    height: 50px; 
    margin-right: 10px;
  }

  nav {
    width: 900px;
    float: left;
  }

  /* settings for footer below */
  footer {
    background-color: #0F3D3E;
    float: left;
    width: 900px;
    position: static;
    bottom: 0;
    color: #F6F4E8;
    text-align: center;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 100%;
  }

  footer p {
    margin-left: 5px;
  }

  footer a {
    color: #F6F4E8;
    text-decoration: underline;
  }
  
  footer a:hover {
    text-decoration: none;
  }

  #content {
    float: left;
    width: 600px;
    height: 100%;
    margin-bottom: 200px;
  }

  /* line divide between news and article posts below */
  #news {
    border-bottom-style: solid;
  }

  /* set width, margin and other of sidebar office locations and style of form mailing list below */
  .sidebar a {
    color: #0F3D3E;
    text-decoration: underline;
  }
  
  .sidebar a:hover {
    text-decoration: none;
  }

  .sidebar {
    width: 300;
    float: left;
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  #locations {
    width: 290px;
  }

  .sidebarsections {
    border-bottom-style: solid;
    margin-bottom: 15px;
  }

  .cities {
    width: 290px;
    height: auto;
    border-radius: 5px;
  }
  
  #mailinglist {
  margin-bottom: 30px;
  }

  /* specify look of input forms below */
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #E2DCC8;
    border-style: solid;
    border-width: 1px;
    color: #0F3D3E;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }

  input[type=text], input[type=reset], input[type=email] {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    color: #0F3D3E;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    color: #0F3D3E;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
  }

  #contactform {
    margin-bottom: 25px;
  }

  /* class to specify social media icons */

  .socialicons {
    height: 30px;
    width: auto;
  }