/*
CSS stylecheet for Webbutveckling1
Martin Qvarnström 2022
*/

body {
    margin-left: auto; /* to center website */
    margin-right: auto; /* to center website */
    width: 900px;
    font-family: 'Merriweather', serif;
    color: #0F3D3E;

}

article a {
  color: #0F3D3E;
  text-decoration: underline;
}

article a:hover {
  text-decoration: none;
}

.sidebar a {
  color: #0F3D3E;
  text-decoration: underline;
}

.sidebar a:hover {
  text-decoration: none;
}

footer a {
  color: #F6F4E8;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

#wrapper {
    height: 100%;
    padding: auto;
    background-color: #FFFFFF;
}

/* ul and li settings for horizontal menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 20px;
  }
  
  li {
    float: left;
    position: sticky;
    bottom: 0;
  }
  
  li a {
    display: block;
    color: #0F3D3E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a article {
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #E2DCC8;
  }

  ul {
    position: sticky;
    bottom: 0;
  }

  .logo {
    float: left;
    height: 50px; 
    margin-right: 10px;
  }

  .sidebar {
    width: 300;
    float: left;
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  footer {
    background-color: #0F3D3E;
    float: left;
    width: 900px;
    position: static;
    bottom: 0;
    color: #F6F4E8;
    text-align: center;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 90%;
  }

  footer p {
    margin-left: 5px;
  }


  nav {
    width: 900px;
    float: left;
  }

  main {
    float: left;
  }

  #content {
    float: left;
    width: 600px;
    height: 100%;
    margin-bottom: 200px;
  }

  section {
    border-bottom-style: solid;
  }

  #locations {
    width: 290px;
  }

  #sidebarsections {
    border-bottom-style: solid;
    margin-bottom: 15px;
  }

  #cities {
    width: 290px;
    height: auto;
    border-radius: 5px;
  }
  
  #mailinglist {
  font-size: 13px;
  margin-bottom: 40px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #E2DCC8;
    border-style: solid;
    border-width: 1px;
    color: #0F3D3E;
    padding: 4px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
  }

  input[type=text], input[type=text], input[type=reset] {
    background-color: #E2DCC8;
    border-style: solid;
    border-width: 1px;
    color: #0F3D3E;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }